{% import_yaml "bacula/defaults.yaml" as defaults %}
{% import_yaml "bacula/osfamilymap.yaml" as osfamilymap %}


{% set map = salt['grains.filter_by'](defaults, merge=salt['grains.filter_by']( osfamilymap, grain='os_family', merge=salt['pillar.get']('bacula', {}), ), base='bacula') %}

