#
# Bacula User Agent (or Console) Configuration File
#
# Managed by Salt
#
#
Director {
  Name = {{ con_name }}-dir   # dir name
  DIRport = {{ con_port }}    # dir port
  Address = {{ con_address }} # dir fqdn
  Password = "{{ con_password }}" # dir password
}
