# SD config for {{ client }}
Device {
  Name = {{ dev_name }} 
  Archive Device = {{ dev_arch }}
  Device Type = {{ dev_type }}
  Media Type = {{ med_type }}
  Removable Media = {{ med_rem }}
  Random Access = {{ ran_acc }}
  LabelMedia = {{ med_labl }}
  Automatic Mount = {{ auto_mnt }}
  AlwaysOpen = {{ alw_open }}
  Maximum Network Buffer Size = {{ max_buff }}
}
