#
# Managed by Salt
#

# list Directors who are permitted to contact this File daemon
Director { 
  Name = {{ dirP_name }}-dir
  Password = "{{ dirP_password }}"
}

# Restricted Director, used by tray-monitor to get the
#   status of the file daemon
Director {
  Name = {{ dirR_name }}-mon
  Password = "{{ dirR_password }}"
  Monitor = {{ dirR_mon }}
}

# "Global" File daemon configuration specifications
FileDaemon {
  Name = {{ fd_name }}-fd
  FDPort = {{ fd_port }}
  WorkingDirectory = "{{ fd_work_dir }}"
  Pid Directory = "{{ fd_pid_dir }}"
  Plugin Directory = "{{ fd_plugin_dir }}"
  Maximum Concurrent Jobs = {{ fd_max_jobs }}
  Heartbeat Interval = {{ fd_hb_int }}
}

# Send all messages except skipped files back to Director
Messages {
  Name = {{ mess_name }}
  director = {{ mess_dir }}-dir = all, !skipped, !restored
}

