#
# Bacula Storage D Main Configuration File
#
# Managed by Salt
#
Storage {
  Name = {{ sd_name }}-sd
  SDPort = {{ sd_port }}
  WorkingDirectory = "{{ sd_work_dir }}"
  Pid Directory = "{{ sd_pid_dir }}"
  Maximum Concurrent Jobs = {{ sd_max_jobs }}
  Heartbeat Interval = {{ sd_hb_int }}
}

# List Directors who are permitted to contact Storage daemon
Director {
  Name = {{ sd_dirP_name }}-dir
  Password = "{{ sd_dirP_password }}"
}

# Restricted Director, used by tray-monitor to get the
#   status of the storage daemon
Director {
  Name = {{ sd_dirR_name }}-mon
  Password = "{{ sd_dirR_password }}"
  Monitor = {{ sd_dirR_mon }}
}


# Include subfiles associated with configuration of clients.
# They define the bulk of the Clients, Jobs, and FileSets.
# Remember to "reload" the Director after adding a client file.
#
@|"sh -c 'for f in {{ config_dir }}/*.conf ; do echo @${f} ; done'"

# Send all messages to the Director,
# mount messages also are sent to the email address
Messages {
  Name = {{ sd_mess_name }}
  director = {{ sd_mess_director }}-dir = all
}


